<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Sentiment & Investment Advisor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>AI Stock Sentiment & Investment Advisor</h1>
    <form action="/advice" method="POST">
        <label for="sentiment_score">Overall Sentiment Score of Articles:</label>
        <input type="text" id="sentiment_score" name="sentiment_score"><br><br>

        <label for="stock_data">Stock Name and Data:</label>
        <input type="text" id="stock_data" name="stock_data"><br><br>

        <label for="sector">Select Industry/Sector:</label>
            <select id="sector" name="sector">
                <option value="Technology">Technology</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Finance">Finance</option>
                <option value="Energy">Energy</option>
                <option value="Retail">Retail</option>
                <option value="Transportation">Transportation</option>
                <option value="Other">Other</option>
            </select><br><br>


        <input type="submit" value="Get Investment Advice">
    </form>
</body>
</html>
